[user]
	name = star__hoshi
	email = kensuke1751@gmail.com
[core]
	excludesfile = /Users/kensuke/.gitignore_global
	editor = /usr/bin/vim
[color]
	ui = true
[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
	poh = push origin HEAD
	gittree = git log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.1/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
	default = simple

[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
[log]
	decorate = short
[commit]
	template = /Users/kensuke/.gitmessage.txt
